.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
arcgeocoder.Rcheck/
arcgeocoder*.tar.gz
arcgeocoder*.tgz
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
inst/doc
docs
Rplots.pdf
/.quarto/
**/*.quarto_ipynb
**/.quarto/
README_files/
README.html
