name: Clear all Github actions caches manually
permissions: read-all

on:
  workflow_dispatch:
  schedule:
    - cron: '0 18 3 * *'

jobs:
  cache-clear:
    runs-on: ubuntu-latest

    steps:
      - uses: easimon/wipe-cache@main

